@charset "UTF-8";

footer{
	padding-top: 10px;
	width: 100%;
    height: 100px;
	background-color: #333333;
	color: white;
    text-align: center;
}


ul.footer-menu li {
display: inline;
}