@charset "UTF-8";


/*中身*/
body{
	margin-top: 260px;
	font-family:serif;
	background-color: #DCDCDC;
	text-align: center;
}


/*h1{
	color: #4169E1;
	font-weight: bold;
	padding: 10px;
	border-top: solid 2px;
	border-bottom: solid 2px;
}*/


h2{
	font-size: 35px;
	color: #804040;
	font-weight: bold;
	padding: 10px;
	border-top: solid 2px;
	border-bottom: solid 2px;
}


h3{
	font-size: 27px;
	color: #804040;
	font-weight: bold;
	padding: 10px;
}


.body-input{
	margin: 10px;
	padding: 0.5em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 15px;
    width: 400px;
    height: 30px;
	border-radius: 10px;
	font-family:serif;
}


input[type="text"]:focus,
texture:focus {
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}


form{
	padding: 10px;
	text-align: center;
}

/*ラジオボタン*/
 .radio{
	background-color: #A9A9A9;
	margin: 10px;
	padding: 10px;
}