@charset "UTF-8";


/*中身*/
body{
	margin-top: 220px;
	font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
	background-color: #DCDCDC;
	text-align: center;
}

form .body{
	background-color: #A9A9A9;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

/*h1{
	color: #4169E1;
	font-weight: bold;
	padding: 10px;
	border-top: solid 2px;
	border-bottom: solid 2px;
}*/

h2{
	color: #4169E1;
	font-weight: bold;
	padding: 10px;
	border-top: solid 2px;
	border-bottom: solid 2px;
}


input{
	margin: 10px;
	padding: 0.5em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 10px;
    width: 400px;
    height: 30px;

}

.text{
	weidth: 180px;
	height: 50px;
}


input[type="text"]:focus,
texture:focus {
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;

}

/*ラジオボタン*/
.radio-input{
	display: none;
}

.radio-input + label{
  padding-left: 40px;
  position:relative;
  margin-right: 30px;
}
.radio-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}
.radio-input:checked + label{
  color: #d01137;
}
.radio-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  background: #d01137;
  border-radius: 50%;
}



/*遷移ボタン*/
.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #FFF;
  background: #8cd460;
  transition: .4s;
  font-size: 15px;
  font-weight: bold;
  width: 150px;
  height: 50px;
  text-align: center;
}

.btn-squaret:hover {
  background-image: linear-gradient(#6795fd 0%, #67ceff 70%);
}

p{
	font-size: 20px;
}


table{
	text-align: center;
	margin: auto;
	font-family: "Helvetica Neue";
}


/*フッター*/
footer{
	padding-top: 10px;
    width: 100%;
    height: 100px;
    background-color: #333333;
    color: white;
    text-align: center;
}
ul.footer-menu li {
display: inline;
}

