@charset "UTF-8";

header {
  color:white;
  font-size: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #333333;
  position: fixed;
  top: 0px;
  padding-bottom: 10px;
  font-family:serif;
}


header .headline{
  font-size: 50px;
  font-family:serif;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  font-family:serif;
  }
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.roma{
	font-size: 25px;

}


/*ドロップダウン機能*/
.nav-list > li {/*親階層のみ幅を25%にする*/
    width: 25%;
}

.nav-list li {
    list-style: none;
    position: relative;
    padding: auto;
}
.nav-list li a {
    border-right: 1px solid #eee;
    color: #fff;
    display: block;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.nav-list li li {
    height: 0;
    overflow: hidden;
    transition: .5s;
    text-align: center;
    text-decoration: none;
    padding: auto;
}

.nav-list li:hover > ul > li {
    height: 2rem;
    overflow: visible;
}


.header-input{
	width: 160px;
	height: 30px;
	text-size: 20px;
	border-radius: 5px;
    font-family:serif;
}



/*遷移ボタン*/
.header-btn-square {
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #c0c0c0;
  background: #673434;
  transition: .4s;
  width: 95px;
  hight: 30px;
  margin: auto;
  padding: 5px;
  font-size: 15px;
  font-family:serif;
  border-radius: 5px;
}

.header-btn-square:hover {
  background: #9a4e4e;
  color: #c0c0c0;
}

h6{
	text-align: right;
	margin: 10px;
}