@charset "UTF-8";

header {
  color:white;
  font-size: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #333333;
  position: fixed;
  top: 0px;
  padding-bottom: 10px;
}


header .headline{
  font-size: 50px;
  font-family:serif;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  font-family: "Helvetica Neue";
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}


/*ドロップダウン機能*/
.nav-list > li {/*親階層のみ幅を25%にする*/
    width: 25%;
}

.nav-list li {
    list-style: none;
    position: relative;
    padding: auto;
}
.nav-list li a {
    border-right: 1px solid #eee;
    color: #fff;
    display: block;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.nav-list li li {
    height: 0;
    overflow: hidden;
    transition: .5s;
    text-align: center;
    text-decoration: none;
    padding: auto;
}

.nav-list li:hover > ul > li {
    height: 2rem;
    overflow: visible;
}


.header-input{
	width: 160px;
	height: 30px;
	text-size: 20px;
}



/*遷移ボタン*/
.header-btn-square {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  background: #8cd460;
  transition: .4s;
  font-weight: bold;
  font-size: 15px;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: auto;
}

.btn-squaret:hover {
  background-image: linear-gradient(#6795fd 0%, #67ceff 70%);
}